body{
	background:lightblue;
	background-image:url("$.jpg");
	background-repeat:no-repeat;
	background-position:bottom
	
}
#ghost{
	object-fit:cover;
	height:2300px;
}




#uvod{
	color:black;
	font-family:Arial,Verdana;
	font-size:18px;
	border:2px solid black;
	border-radius:20px;
	width:1100px;
	height:300px;
	padding:10px;
	margin:10px;
	
	
	
}

img{
	float:right;
	margin:40px;
	width:400px;
}

#podela{
	color:black;
	font-family:Arial,Verdana;
	font-size:20px;
	text-decoration:underline;
	
}

#plunder{
	color:black;
	font-family:Arial,Verdana;
	font-size:17px;
	border:2px solid black;
	border-radius:20px;
	width:700px;
	padding:15px;
	float:right;
	margin:10px;
	position:absolute;
	top:700px;
	right:0px;
	
	
}
#rebirth_island{
	color:black;
	font-family:Arial,Verdana;
	font-size:17px;
	border:2px solid black;
	border-radius:20px;
	width:700px;
	padding:5px;
	float:right;
	margin:10px;
	position:absolute;
	top:1250px;
	right:0px;
}
#video{
	color:black;
	font-family:Arial,Verdana;
	font-size:17px;
	border:2px solid black;
	border-radius:20px;
	width:600px;
	padding:15px;
	float:right;
	margin:10px;
	display:inline-block;
	right:0px;
	
}






.naslovi{
	color:black;
	font-family:Arial,Verdana;
	font-size:20px;
	text-decoration:underline;
	
}


.paragrafi{
	color:black;
	font-family:Arial,Verdana;
	font-size:17px;
	border:2px solid black;
	border-radius:20px;
	width:700px;
	padding:5px;
	margin:10px;
	display:inline-block;
}




.paragrafi1{
	overflow:hidden;
	color:black;
	font-family:Arial,Verdana;
	font-size:17px;
	border:2px solid black;
	border-radius:20px;
	
}

.paragrafi2{
	display:inline-block;
	color:black;
	font-family:Arial,Verdana;
	font-size:17px;
	border:2px solid black;
	border-radius:20px;
}



